.form-buttons button {
    transform: translateY(0);
    transition: transform 0.2s ease;
}

.form-buttons button:active {
    transform: translateY(4px);
}


/* SOLO PER QUESTO MEDIA QUERY*/
@media screen and (max-width: 768px) {
    .modal-content {      
        width: 70%;
        margin: 0 auto;
    }

    .questions-form > h2 {
        font-size: 16px !important;
    }


    .options-container {
        display: flex;
        flex-direction: column;
    }

    .column {
        width: 100%;
    }

    .option-group {
        margin-top: -1rem !important;
        margin-bottom: 0rem;
    }

    .option-group > label {
        font-size: 12px !important;
    }

    .option-input-group {
        width: 100%;
    }

    .option-input {
        width: calc(100% - 30px);
    }

}
