.main-div {
    display: flex;
    justify-content: flex-start !important;
    align-items: center;
    height: 99vh;
    width: 99vw;
}

#your-quizzes-top-div {
    margin-top: 97px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

#your-quizzes-top-div > h1 {
    font-size: 32px !important;
    margin-top: -1px;
    background: linear-gradient(to right, rgb(0, 255, 144), rgb(245, 254, 55));
    font-family: "Roboto Condensed" !important;
    /* Applico il gradiente allo sfondo, ritagliando lo sfondo sul testo e rendendo il testo tansparent cosi da farlo "sembrare" di quel grandiente */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* Compatibilità */
    background-clip: text; 

}

.Line-two {
    width: 290px;
    height: 2px; 
    background: linear-gradient(to right, rgb(0, 255, 144), rgb(245, 254, 55)); 
    margin-top: -17px;
}

#quizzes-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 87px !important;
}

.single-quiz-container {
    display: flex;
    justify-content: center;
    align-content: center;
}

.single-quiz-para {
    width: 196px;
    height: 50px;
    background-color: #252525;
    border-radius: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    margin-bottom: 16px;
    margin-right: 12px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3), 0px 1px 3px rgba(0, 0, 0, 0.2);
}

.single-quiz-para > p {
    margin-left: 24px;
}

.remove-icon , .edit-icon {
    width: 57px;
    height: 50px;
    border-radius: 16px;
    background-color: #252525;
    margin-right: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3), 0px 1px 3px rgba(0, 0, 0, 0.2);
}

.remove-icon > img {
    width: 30px;
    height: 30px;
}

.edit-icon > img {
    width: 30px;
    height: 30px;
}

.pagination-buttons button {
    background: none; 
    border: none; 
    color: rgba(128, 128, 128, 0.75); 
    font-size: 24px; 
    font-weight: bold;
    cursor: pointer; 
    padding: 0; 
    margin: 0 8px; 
    transition: color 0.2s ease; 
}

.pagination-buttons button:hover {
    color: #f5fe37; 
}

.pagination-buttons button:focus {
    outline: none;
}

.create-quiz-btn {
    border-radius: 16px;
    width: 222px;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #121211;
    background: linear-gradient(to right, rgb(0, 255, 144), rgb(245, 254, 55));
    margin-top: 20px;
    margin-bottom: 3rem; 
    cursor: pointer;
}

.create-quiz-btn img {
    opacity: 1 !important;
    margin-right: 14px;
}

.create-quiz-btn p {
    text-align: center !important;
}


/* VEDIAMO */

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #151515;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    position: relative;
    background-color: #252525;
    padding: 2rem;
    border-radius: 16px; /* Arrotondamento del contenitore */
    width: 90%;
    max-width: 500px;
    color: rgba(255, 255, 255, 0.87);
    z-index: 1; /* Per assicurarti che il contenuto rimanga sopra */
    overflow: hidden; /* Importante per gestire il bordo arrotondato */
  }

  #header-new-quiz-div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

  #header-new-quiz-div > h1 {
    font-size: 32px !important;
    margin-top: -1px;
    background: linear-gradient(to right, rgb(0, 255, 144), rgb(245, 254, 55));
    font-family: "Roboto Condensed" !important;
    /* Applico il gradiente allo sfondo, ritagliando lo sfondo sul testo e rendendo il testo tansparent cosi da farlo "sembrare" di quel grandiente */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* Compatibilità */
    background-clip: text; 

}
  
  #labelId {
    display: flex;
    align-items: flex-start;
  }

  .modal-content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 16px; /* Arrotondamento del bordo */
    padding: 3px; /* Spessore del bordo */
    background: linear-gradient(to right, rgb(0, 255, 144), rgb(245, 254, 55));
    -webkit-mask: 
      linear-gradient(#fff 0 0) content-box, 
      linear-gradient(#fff 0 0);
    mask: 
      linear-gradient(#fff 0 0) content-box, 
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor; 
    mask-composite: exclude;
    z-index: -1; /* Messo dietro il contenuto */
    font-family: "Roboto Condensed" !important;
  }
  
  
  
  .quiz-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  .form-group input {
    padding: 0.5rem;
    border: 1px solid gray;
    border-radius: 4px;
    
  }

  .form-group input:focus {
    border: 1px solid rgb(0, 255, 144); /* Cambia colore del bordo in focus */
    outline: none; /* Rimuove il contorno di default */
    box-shadow: 0 0 8px rgba(0, 255, 144, 0.5); /* Aggiungi un effetto glow */
}

  #quizTitle {
    background-color: #252525;
    color: rgba(255, 255, 255, 0.87);

  }

  #questionText {
    background-color: #252525;
  }  

  .options-container {
    padding: 2rem;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px; /* Spazio tra le colonne */
  }
  
  .column {
    flex: 1; /* Le colonne occupano la stessa larghezza */
    display: flex;
    flex-direction: column;
    gap: 15px; /* Spazio tra gli elementi all'interno della colonna */
  }

  .label-option {
    margin-left: -8.5rem;
    margin-bottom: 2px;
  }

  .option-input-group  {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .option-group {
    display: flex;
    flex-direction: column; 
    gap: 4px; 
  }

  .option-input {
    padding-left: 8px; /* Spazio dal bordo sinistro */ 
  }
  
  .option-input::placeholder {
    font-size: 12px; 
    color: #888; 
  }
  
  
  .option-input-group > input {
    background-color: #252525;
    border: 1px solid gray;
    border-radius: 6px;
  }

  .option-input-group > input:focus {
    border: 1px solid rgb(0, 255, 144); /* Cambia colore del bordo in focus */
    outline: none; /* Rimuove il contorno di default */
    box-shadow: 0 0 8px rgba(0, 255, 144, 0.5); /* Aggiungi un effetto glow */
  }
  
  .form-buttons {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    margin-top: 1rem;
  }
  
  .form-buttons button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .form-buttons button[type="submit"] {
    background-color: #00FF90;
    color: black;
  }
  
  .form-buttons button[type="button"] {
    background-color: #E24F46;
    color: black;
  }
 
  .cancel-btn {
    background-color: #E24F46;
    color: black;
  }

  .add-question-btn {
    background-color: #00FF90 !important;
    color: black;
  }

  .finish-btn {
    background: linear-gradient(to right, rgb(0, 255, 144), rgb(245, 254, 55));
    color: black;
  }
  
  /* radio btn */

input[type="radio"] {
  appearance: none; /* Rimuove lo stile di default */
  width: 16px;
  height: 16px;
  border: 1px solid #888;
  border-radius: 50%; 
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
  position: relative;
  top: -1px;
}

/* Stile per i radio button selezionati */
input[type="radio"]:checked {
  background-color: #4caf50;
  border-color: #4caf50; 
}

input[type="radio"]:hover {
  border-color: #F5FE37;
}



/* Aggiungere un'animazione o un'icona con pseudo-elementi */



@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0.3; }
    100% { opacity: 1; }
}